<!doctype html>

<html>
<head>
    <title></title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="css/FIREtxt.css" rel="stylesheet">
  </head>
  <body>

  <div class="myNavbar">
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="col-3">
        <h4 class="navbar-links"><a href="/">&lt</a></h4>
      </div>
      <div class="col-6">
        <p class="friendNameHeader">Doug Englebart</p>
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>

  <div class="conversation">
    <div class="message me">
      <p>Hello, world! iuasfd ioa aoijf oj ijqe aij oiaj aoj eoijaoij</p>
    </div>
    <div class="message them">
      <p>Hey!</p>
    </div>
    <div class="message them">
      <p>Hey!</p>
    </div>
    <div class="message me">
      <p>1 Nuiasdcn ai sda nd qiud iqiwd iuuiqin jqnk duq djknq jdn 1wm,dnq jkndq,.q. pdoq dmq .</p>
    </div> 
    <div class="message me">
      <p>2 Nuiasdcn ai afsu k auiwejfhkbq weiuaw dmq .</p>
    </div> 
    <div class="message me">
      <p>3 Nuiasdcn ai sda nd qiud iqiwd iuuiqin jqnk duq djknq jdn 1wm,dnq jkndq,.q. pdoq dmq que2iwfwejknka uiewufi qew .</p>
    </div>
    <div class="message me">
      <p>4 Nuiasdcn ai sda nd qiud iqiwd iuuiqin jqnk duq djknq jdn 1wm,dnq jkndq,.q. pdoq dmq .</p>
    </div> 
    <div class="message me">
      <p>5 Nuiasdcn ai afsu k auiwejfhkbq weiuaw dmq .</p>
    </div> 
    <div class="message me">
      <p>6 Nuiasdcn ai sda nd qiud iqiwd iuuiqin jqnk duq djknq jdn 1wm,dnq jkndq,.q. pdoq dmq que2iwfwejknka uiewufi qew .</p>
    </div>       
  </div>

  <div class="analyticsPane">
    <div class="row">    
      <p class="stat">Average Response Time</p>    
      <p class="stat value">5 min</p>
    </div>
    <div class="row">    
      <p class="stat">Average Response Time</p>    
      <p class="stat value">5 min</p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>