<!doctype html>

<html>
<head>
    <title></title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="../css/jquery-ui.css" rel="stylesheet">
    <link href="../css/jquery-ui.theme.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
   <link href="../css/FIREtxt.css" rel="stylesheet">
  </head>
  <body>

  <div class="convo">
    <div class="myNavbar">
      <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-3">
          <h4 class="navbar-links"><a href="/">&lt</a></h4>
        </div>
        <div class="col-6">
          <p class="friendNameHeader">{{name}}</p>
        </div>
        <div class="col-3">
        </div>
      </div>
    </div>
    <div class="payload"> 
      <div class="conversation">
        {{#each data.history}}
          <h4>{{day}}</h4>
          {{#each conversation}}
            <div class="row">
              <div class="message {{status}}">
                <p>{{message}}</p>
              </div>
            </div>
          {{/each}}
        {{/each}}
      </div>

      <div class="analyticsPane">
        <div class="row">
          <div class="col-9">    
            <p class="stat">Average Response Time</p>
          </div>
          <div class="col-3">    
            <p class="stat value">5 min</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../js/tether.min.js"></script>
  <script src="../js/jquery-3.1.1.js"></script>
  <script src="../js/jquery-ui.js"></script>
  <script src="../js/bootstrap.js"></script>
</body>
</html>