/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

.friends {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 2em;
  padding: 25px;
  padding-top: 10px;
	text-align: center;
}

a {
  color: black;
}

.friendName {
  font-size: 1.75em;
  text-align: left;
}

.preview {
  text-align: left;
  padding-left: 15px;
}